.chat
  .main__header
    .main__header__leftbox
      %h2.group
        = @group.name
      %ul.member-list
        Member :
        - @group.users.each do |user|
          = user.name
        %li.member    
    .edit
      .a
      = link_to "Edit", edit_group_path(@group.id)
  .messages
    = render @messages    
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fa', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'