.chat
  .main__header
    .main__header__leftbox
      %h2.group
        test
      %ul.member-list
        member:
        %li.member
          toma
    .edit
      edit
  .messages
    = render @messages    
    .message
      .message__info
        %p.message__info__name
          = message.user.name
        %p.message__info__date
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .message__text
        好きだ
    .message
      .message__info
        %p.message__info__name
          remo
        %p.message__info__date
          2020/03/26 20:00 
      .message__text
        きいろ
  .form
    = form_for [@group, @message] do |f|
      .input__box
          = f.text_field :content, class: 'input__box__text', placeholder: 'type a message'
            = f.label :image, class: 'input__box__image' do
            = icon('fa', 'image')
            = f.file_field :image, class: 'input__box__image__file'
        = f.submit 'Send', class: "submit-btn"

