.side
  .side__header
    .side__header__box
      %p.user-name
        = current_user.name
      %ul.menu
        %li.new.group
        = link_to new_group_path, class: "contents__btn" do
          = icon('fa', 'cog')
        %li.edit.user
        = link_to edit_user_path(current_user) do
          = icon('fa', 'edit')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          %p.group__name
            = group.name
          %p.group__message
            = group.show_last_message


